html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: #BF2E2E;
}

h1, p {
  color: #37E668;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
